body{
    height: 100%;
}
content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98.3%;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 70px;
    margin: 50px;
}
h2{
    margin: 50px;
}
#timer{
    display:flex;
}

/* #start{
    display: none;
} */
#questions {
    display: none;
    align-items:start;
}
#highScores{
    display: none
}
#scores{
    margin: 50px;
}